<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.easyswitch.serbianbookers">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACTION_CALL" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup">
        <activity android:name=".views.dialog.OtaActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeDialog" />
        <activity
            android:name=".views.dialog.OpenClosureActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeDialog" />
        <activity
            android:name=".views.dialog.ClosureSnackBar"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/NavTheme" />
        <activity
            android:name=".views.dialog.PriceSnackBar"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/NavTheme" />
        <activity
            android:name=".views.dialog.SnackBarDialog"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/NavTheme" />
        <activity android:name=".views.dialog.SendMailActivity" />
        <activity
            android:name=".views.dialog.SaveRestrictionDialog"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeDialog" />
        <activity
            android:name=".views.dialog.SaveAvailabilityDialog"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeDialog" />
        <activity
            android:name=".views.dialog.SavePriceDialog"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeDialog" />
        <activity
            android:name=".views.dialog.GuestNotShowDialog"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeDialog" />
        <activity
            android:name=".views.dialog.InvalidCardDialog"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeDialog" />
        <activity
            android:name=".views.NavigationViewActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/NavTheme" />
        <activity
            android:name=".views.login.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWhite">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.filter.CalendarFilterActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeDialog" />
        <activity
            android:name=".views.dialog.StatusDialog"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeDialog" />
        <activity
            android:name=".views.filter.FilterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.dialog.TimeDialog"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeDialog" />
        <activity
            android:name=".views.login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWhite" />
        <activity
            android:name=".views.home.ReservationDescActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeDialog" />
        <activity
            android:name=".views.home.HomeActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>