<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.easyswitch.serbianbookers">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup">
        <activity android:name=".views.NavigationViewActivity"
            android:theme="@style/NavTheme"
            android:label="" />
        <activity
            android:name=".views.login.SplashActivity"
            android:theme="@style/AppThemeWhite">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.filter.CalendarFilterActivity"
            android:label=""
            android:theme="@style/AppThemeDialog" />
        <activity android:name=".views.GantogramActivity" />
        <activity
            android:name=".views.calendar.CalendarDescriptionActivity"
            android:label=""
            android:theme="@style/AppThemeDialog" />
        <activity
            android:name=".views.dialog.StatusDialog"
            android:label=""
            android:theme="@style/AppThemeDialog" />
        <activity android:name=".views.filter.FilterActivity" />
        <activity
            android:name=".views.dialog.TimeDialog"
            android:label=""
            android:theme="@style/AppThemeDialog" />
        <activity
            android:name=".views.login.LoginActivity"
            android:theme="@style/AppThemeWhite"></activity>
        <activity
            android:name=".views.home.ReservationDescActivity"
            android:label=""
            android:theme="@style/AppThemeDialog" />
        <activity android:name=".views.home.HomeActivity" />
    </application>

</manifest>